// Variables

// Colors
$grey: #a8a8a8;
$greyLt: #ebecec;
$greyDk: #656668;
$coal: #323232;
$green: #558530;

// Breakpoints
$tiny: 360px;
$small: 480px;
$medium: 768px;
$large: 992px;
$xlarge: 1200px;
$enormous: 1920px;
