@import "variables";

@font-face {
  font-family: "Circular Std Book";
  src: url("./../fonts/CircularStd-Book.ttf") format("ttf"),
    url("./../fonts/CircularStd-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Circular Std Book", sans-serif;
  background: $greyLt;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top right;
}

div {
  color: purple;
  font-size: 30px;
  width: 300px auto;
  font-weight: bold;
}
